<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796204012744-uhtkkhtvm0ngifplt9ofq1up9eq3i8de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796204012744-uhtkkhtvm0ngifplt9ofq1up9eq3i8de</string>
	<key>API_KEY</key>
	<string>AIzaSyDpimPiqbuVPJmbL71J4TG0JIrE4ztsTxs</string>
	<key>GCM_SENDER_ID</key>
	<string>796204012744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hereitis.cityReport</string>
	<key>PROJECT_ID</key>
	<string>city-report-bf2f5</string>
	<key>STORAGE_BUCKET</key>
	<string>city-report-bf2f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796204012744:ios:4085159c7d1d0d4b6b01fd</string>
	<key>DATABASE_URL</key>
	<string>https://city-report-bf2f5.firebaseio.com</string>
</dict>
</plist>