<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005663303683-9eemkoeb98f20nl82d8vd7rinh8n8o54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005663303683-9eemkoeb98f20nl82d8vd7rinh8n8o54</string>
	<key>API_KEY</key>
	<string>AIzaSyDhK2qHIzUlOG5vENNDrAAOSRq9yUMQdBA</string>
	<key>GCM_SENDER_ID</key>
	<string>1005663303683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.bof.doctor</string>
	<key>PROJECT_ID</key>
	<string>doctor-b3f86</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-b3f86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005663303683:ios:6273d511f5dd3e24c33636</string>
	<key>DATABASE_URL</key>
	<string>https://doctor-b3f86.firebaseio.com</string>
</dict>
</plist>