<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="phoneCall()">
        <ion-icon slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="pencil-outline" routerLink="/app/tabs/public-problems/edit-patient-appointment/{{session?.id}}"></ion-icon>
      </ion-button>
      <ion-button (click)="sessionClick('trash')">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <h1>{{session.name}}</h1>
    <span *ngFor="let track of session?.procedures" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
    <ion-text color="medium">
      {{formatTime(session.procedureStartDateTime)}} &mdash; {{formatTime(session.procedureEndDateTime)}} Tel: {{session.phone}}
      <br /> {{session.location}}
    </ion-text>
    <p>Telefon: {{session.phone}}</p>
    <p>Email: {{session.email}}</p>
    <p>Diagnostic: {{session.diagnostic}}</p>
    <p>Note: {{session.notes}}</p>
  </div>

  <ion-slides [options]="sliderOpts"> 
    <ion-slide *ngFor="let img of session?.imgs">
      <img src="{{img.thumbUrl}}" tappable (click)="openPreview(img)">
    </ion-slide>
  </ion-slides>
</ion-content>
